/*

   Two T's Bar and Grill Contact Us Form Style Sheet
   
   Author:            Timothy Grimes and Thomas Sander
   Date:              May 10, 2020
   Filename:          fstyles.css
   Supporting Files:  go.png, stop.png, contactusstyles.css
   
*/

/* Field set styles */
fieldset {
    background-color: rgb(127, 241, 149);
	border: 1px solid rgb(67, 76, 169);
	float: left;
	margin: 10px 0px 10px 2.5%;
	width: 46%;
}

legend {
   background-color: rgb(255, 160, 220);
   color: white;
   padding: 5px;
}

/* Label styles */
label {
    clear: left;
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 7px 4% 7px 5px;
	width: 40%;
}

/* Input control styles */
input {
    display: block;
	float: left;
	font-size: 0.9em;
	margin: 7px 0px;
	width: 50%;
}

/* Selection list styles */
select {
     display: block;
	 float: left;
	 font-size: 0.9em;
	 margin: 7px 0px;
}

/* Year styles */
#years {
   width: 50px;
}

/* Checkbox styles */
input#call {
    clear: left;
	width: 25px;
}

input#call+label {
    clear: none;
	width: auto;
}

/* Button styles */
input[type="submit"] {
    clear: left;
}

input[type="submit"], input[type="reset"] {
    height: 40px;
	margin-right: 20px;
	width: 200px;
}

/* Validation styles */
input:focus, select:focus {
    background-color: ivory;
}

input:focus:valid {
    background: rgb(220, 255, 220) url(go.png) bottom right no-repeat;
	
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}

input:focus:invalid {
    background: rgb(255, 232, 233) url(stop.png) bottom right no-repeat;
	
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}

/* print styles */
@media print {
   .container, h1, h2, p {
      color: black;
      background: white;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 1in;
}